@tailwind base;
@tailwind components;
@tailwind utilities;

@import './core/index';
@import './utilities/mixins';

.card_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  @include lg {
    max-width: 800px;
    margin: 50px auto;
  }
}
